
    <!doctype html>
        <html lang="pl">
            <head>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
            </head>
            <body>
                <div class='container'>
                    <div class="row justify-content-center">
                        <div class="col justify-content-center d-flex">
                            <h4><i>Skrócony dokument serwisowy nr 2021-06-27-Testowy_klient</i></h4>
                        </div>
                    </div>
                    <br>
                    <div class="row justify-content-end">
                        <div class="col d-flex justify-content-end">
                            <span>Data: 2021-06-27</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>Zg³aszaj¹cy</p>
                            <p style="font-size:11px">Imiê i nazwisko: Testowy klient</p>
                            <p style="font-size:11px">Adres: 1234 M¹ka</p>
                        </div>
                        <div class="col">
                            <p>Przyjmuj¹cy zlecenie</p>
                            <p style="font-size:11px">Imiê i nazwisko: serwis serwis</p>
                            <p style="font-size:11px">Nr pracownika: 1</p>
                        </div>
                    </div>
                    <hr style="width:100%;text-align:left;margin-left:0">
                    <div class="row justify-content-center">
                        <p style="font-size:11px">Rodzaj urz¹dzenia: NANANA</p>
                        <p style="font-size:11px">Marka:  nananana</p>
                        <p style="font-size:11px">Model: trolololo</p>
                    </div>
                    <hr style="width:100%;text-align:left;margin-left:0">
                    <div class="row">
                        <div class="col">
                            Opis usterki: 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            O³ yeah
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col d-flex justify-content-start">
                            <span style="font-size:11px">Podpis zlecaj¹cego: </span>
                            <p>...................................</p>
                        </div>
                        <div class="col d-flex justify-content-end">
                            <span style="font-size:11px">Podpis wystawiaj¹cego: </span>
                            <p>...................................</p>
                        </div>
                    </div>
                </div>

                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
            </body>
        </html>
    